<% cache "v1" do %>
	<div class="footer">
		<a href="#" class="hover-red">&copy; Kuttimama.com</a>
		<div class="pull-right">
			<a href="https://www.facebook.com/Kuttimamaofficial?ref=br_tf" class="hover-blue" style="font-size:1.5em;"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/kuttimamaa" class="hover-blue" style="font-size:1.5em;"><i class="fa fa-twitter"></i></a>
			<a href="https://plus.google.com/116326176426211823777" rel="publisher" class="hover-red" style="font-size:1.5em;"><i class="fa fa-google-plus"></i></a>
		</div>
	</div>
<% end %>
<!-- <a href="https://plus.google.com/116326176426211823777" rel="publisher">Google+</a>
 -->