<% cache "v1" do %>
	<div class="top-nav">
	   <%= link_to(image_tag('logo.png' ,:style =>'width: 120px;
'), posts_path) %>
		<!-- <h2 class="site-name-text"><a href="<%= posts_path %>"> കുട്ടിമാമ</a></h2> -->
	</div>
<% end %>