<div class="search-top">
	<form action="<%= posts_path %>" >
		<div><input type="text" class="search-inner" name="q" placeholder="Search Dialogs" value="<%=params[:q]%>"> 
			<!-- <select class="search-inner-category">
				<option>Categories</option>
			</select>	 -->
			<%= select_tag "category", options_from_collection_for_select(@catagories, "id", "name",:selected =>params[:category]),:include_blank =>true, :class=>"search-inner-category" %>
		<input type="submit" class="btn btn-medium btn-add search-inner-btn" value=" search ">
		</div>
	</form>
</div>