<div class="search-top">
	<form action="<%= posts_path %>" >
		<div><input type="text" class="search-inner myElement" name="q" placeholder="search your favourite malayalam dialogues" value="<%=params[:q]%>" autocomplete="off"> 
			<%= select_tag "category", options_from_collection_for_select(@catagories, "id", "name",:selected =>params[:category]), :class=>"search-inner-category", prompt: "Catagories" %>
		<input type="submit" class="btn btn-medium btn-add search-inner-btn" value=" search ">
		</div>
	</form>
</div>