<div class="site-home">
	<h1 class="site-home-name">കുട്ടിമാമ</h1>
	<div class="search align-center">
		<form action="<%= posts_path %>" >
			<div>
				<input type="text" class="site-home-serach" name="q" placeholder="search your favourite malayalam dialogues">
			</div><br>
			<input type="submit" class="btn btn-medium btn-add" value=" search ">
			<a href="<%= posts_path %>"  class="btn btn-medium btn-add">All</a>
		</form>
	</div>
</div>