
<div class="content-area">
	<%= render :partial => 'navbar' %>
	<div class="container">		
		<%= render :partial => 'search_bar' %>
		<div id="posts" ><%= render :partial => 'posts' %></div>
	</div>
	<%= render :partial => 'footer' %>
</div>
	