	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	
	<div class="content-area">
		<div class="top-nav">
			<h2 class="site-name-text">കുട്ടിമാമ</h2>
		</div>
		<div class="container">		
			<div class="search-top">
				<div><input type="text" class="search-inner" placeholder="Search Dialogs"> 
					<select class="search-inner-category">
						<option>Categories</option>
					</select>	
					<input type="submit" class="btn btn-medium btn-add search-inner-btn" value=" search ">
				</div>
			</div>
			<div class="grid-block">
				<ul>
					<%
					if @posts
					 for post in @posts do 
					  %>
					<li>
						<img src="<%= post.image.url(:medium) %>">
						<div class="action">
							<a href="<%= post.image.url %>" download><i class="fa fa-cloud-download"></i></a>
							<i class="fa fa-copy"></i>
							<i class="fa fa-facebook"></i>
						</div>
						<div class="title"><%= post.title %></div>
					</li>
					<% 
					end
					else
					 %>
					 <div class="color-grey">No posts available<div>
					 <% end %>

				</ul>
				<br class="clearfix">
			</div>
			<div class="bottom-pagination">
				 <%= paginate @posts %>
			</div>
		</div>

		<div class="footer">
			<a href="kuttimama.com" class="hover-red">&copy; Kuttimama.com</a>
			<div class="pull-right">
				<a href="kuttimama.com" class="hover-blue" style="font-size:1.5em;"><i class="fa fa-facebook"></i></a>
				<a href="kuttimama.com" class="hover-blue" style="font-size:1.5em;"><i class="fa fa-twitter"></i></a>
				<a href="kuttimama.com" class="hover-red" style="font-size:1.5em;"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>

	</div>
	