	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<div class="content-area">
		<div class="top-nav">
			<h2 class="site-name-text">കുട്ടിമാമ</h2>
		</div>
		<div class="container">		
			<div class="search-top">
				<div><input type="text" class="search-inner" placeholder="Search Dialogs"> 
					<select class="search-inner-category">
						<option>Categories</option>
					</select>	
					<input type="submit" class="btn btn-medium btn-add search-inner-btn" value=" search ">
				</div>
			</div>
			<div class="grid-block">
				<ul>
					<li>
						<img src="http://mip-framework.com/wp-content/themes/fb-malayalam-comedy-comments-6615.jpg">
						<div class="action">
							<i class="fa fa-cloud-download"></i>
							<i class="fa fa-copy"></i>
							<i class="fa fa-facebook"></i>
						</div>
						<div class="title">Kuttimama njan njettimama </div>
					</li>

					<li>
						<img src="http://www.tintumon.in/wp-content/uploads/2013/09/Facebook-Malayalam-Photo-Comment18.jpg">
						<div class="action">
							<i class="fa fa-cloud-download"></i>
							<i class="fa fa-copy"></i>
							<i class="fa fa-facebook"></i>
						</div>
						<div class="title">Kuttimama njan njettimama </div>
					</li>

				</ul>
				<br class="clearfix">
			</div>
			<div class="bottom-pagination">
				<div class="pagination">
					<span class="page current">
						1
					</span>
					<span class="page">
						<a href="" rel="next">2</a>
					</span>
					<span class="next">
						<a href="" rel="next">Next ›</a>
					</span>
					<span class="last">
						<a href="">Last »</a>
					</span>
				</div>
			</div>
		</div>

		<div class="footer">
			<a href="kuttimama.com" class="hover-red">&copy; Kuttimama.com</a>
			<div class="pull-right">
				<a href="kuttimama.com" class="hover-blue" style="font-size:1.5em;"><i class="fa fa-facebook"></i></a>
				<a href="kuttimama.com" class="hover-blue" style="font-size:1.5em;"><i class="fa fa-twitter"></i></a>
				<a href="kuttimama.com" class="hover-red" style="font-size:1.5em;"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>

	</div>